<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DersDemo_Ado_Connection.Properties.Settings.NorthwindConnectionString"
            connectionString="data source=C:\DersDemoları\20100529\DersDemo_Ado_Connection\DersDemo_Ado_Connection\Northwind.sqlite"
            providerName="System.Data.SQLite" />
    </connectionStrings>
</configuration>